<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span class="nav-item">
			<a mat-button routerLink="/home" routerLinkActive="active"
				[routerLinkActiveOptions]="{exact:true}">Home</a>
		</span>
		<span class="nav-item" *ngIf="authenticationService.isAuthenticated$ | async">
			<a mat-button routerLink="/chat" routerLinkActive="active">Chat</a>
		</span>
		<span *ngIf="!(authenticationService.isAuthenticated$ | async)" class="nav-item">
			<a mat-button [routerLink]="['/authentication']" [queryParams]="{mode: 'login'}"
				routerLinkActive="active">Login</a>
		</span>
		<span *ngIf="!(authenticationService.isAuthenticated$ | async)" class="nav-item">
			<a mat-button [routerLink]="['/authentication']" [queryParams]="{mode: 'register'}"
				routerLinkActive="active">Register</a>
		</span>
		<span *ngIf="authenticationService.isAuthenticated$ | async" class="nav-item">
			<a mat-button (click)="authenticationService.logout()" routerLinkActive="active">Logout</a>
		</span>
		<span *ngIf="authenticationService.isAuthenticated$ | async" class="nav-item">
			<a mat-button routerLink="/profile" routerLinkActive="active">Profile</a>
		</span>
		<span>Version: 1.0.0-alpha</span>
	</mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>