venv
*.cpython*
tags
src/main
backend/src/tmp/**
**/node_modules/
**/.angular
build-errors.log
# don't vc the local copy of externals
workspace.code-workspace
secret.env
frontend/cert.pem
frontend/key.pem
backup_db.sh
_dump.sql
