venv
*.cpython*
tags
golang-authentication.code-workspace
src/main
backend/src/tmp/**
**/node_modules/
**/.angular
build-errors.log
# don't vc the local copy of externals
backend/src/go_authentication
workspace.code-workspace
