<div class="container">
	<div class="chat-box">
		<div class="input">
			<div class="form-row">
				<div class="form-group">
					<mat-form-field appearance="fill">
						<mat-label>Username</mat-label>
						<input disabled="{{isConnected() | async}}" matInput [(ngModel)]="
							username">
					</mat-form-field>
				</div>
				<div class="form-group">
					<mat-form-field appearance="fill">
						<mat-label>Channel</mat-label>
						<input disabled="{{isConnected() | async}}" matInput
							[(ngModel)]="channel" (keyup.enter)="joinChannel()">
					</mat-form-field>
				</div>
				<div class="form-group">
					<button *ngIf="isDisconnected() | async" mat-raised-button color="primary"
						(click)="joinChannel()">Join</button>
					<button *ngIf="isConnected() | async" mat-raised-button color="primary"
						(click)="leaveChannel()">Leave</button>
				</div>
				<div class="form-group">
					<mat-form-field appearance="fill">
						<mat-label>Message</mat-label>
						<textarea class="form-control" disabled="{{isDisconnected() | async}}"
							matInput [(ngModel)]="message"
							(keyup.enter)="sendMessage()"></textarea>
					</mat-form-field>
				</div>
				<div class="form-group">
					<button disabled="{{isDisconnected() | async }}" mat-raised-button
						color="primary" (click)="sendMessage()">Send</button>
				</div>
			</div>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Channel</th>
					<th>From</th>
					<th>Timestamp</th>
					<th>Content</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let message of messages.reverse()">
					<td>{{ message.channel }}</td>
					<td>{{ message.from }}</td>
					<td>{{ message.timestamp }}</td>
					<td>{{ message.content }}</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>