<div class="container">
	<div class="panel left-panel">
		<mat-form-field class="username-input">
			<mat-label>Username</mat-label>
			<input matInput [(ngModel)]="username">
		</mat-form-field>
		<mat-form-field class="username-input">
			<mat-label>Channel</mat-label>
			<input matInput [(ngModel)]="channel">
		</mat-form-field>
		<button mat-button *ngIf="isDisconnected() | async" (click)="joinChannel()">Join</button>
		<button mat-button *ngIf="isConnected() | async" (click)="leaveChannel()">Leave</button>
	</div>
	<div class="panel right-panel">
		<div class="messages" #scrollMe>
			<app-message [message]="message" *ngFor="let message of messages"></app-message>
		</div>
		<div class="footer">
			<textarea [(ngModel)]="message" (keyup.enter)="sendMessage()"></textarea>
			<button (click)="sendMessage()"><i class="material-icons">send</i></button>
		</div>
	</div>
</div>