header,
footer {
	height: 50px;
	background-color: #ccc;
	text-align: center;
}

.container {
	display: flex;
	height: calc(100vh - 100px);
}

.panel {
	height: calc(100% - 100px);
	overflow-y: auto;
	background-color: white;
}

.username-input {
	/* width: 100%; */
	/* margin: 5px; */
	margin: 10px;
	width: calc(100% - 20px);
}

.left-panel {
	background-color: gainsboro;
	width: 30%;
	float: left;
}

.right-panel {
	background-color: white;
	width: 70%;
	float: right;
}

.messages {
	padding: 10px;
	background-color: #fff;
	flex-grow: 1;
	overflow-y: scroll;
	scrollbar-width: thin;
}

.messages app-message:not(:last-child) {
	margin-bottom: 32px;
}

.messages p {
	margin: 5px;
}


.footer {
	position: fixed;
	/* add this to make the footer always visible */
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-color: #eee;
	display: flex;
}

.footer textarea {
	flex: 1;
	margin: 10px;
	border: none;
	resize: none;
}

.footer button {
	width: 50px;
	height: 50px;
	border: none;
	background-color: transparent;
	font-size: 24px;
	color: #333;
	margin-right: 10px;
}