.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.chat-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.input {
	padding: 10px;
	background-color: #f5f5f5;
	display: flex;
	flex-wrap: wrap;
}

#messageBox {
	display: flex;
	color: green;
	width: 100%;
	flex-direction: row;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.form-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.form-group {
	margin: 5px;
}

.messages {
	padding: 10px;
	background-color: #fff;
	flex-grow: 1;
	overflow-y: scroll;
	scrollbar-width: thin;
}

.messages p {
	margin: 5px;
}

.channel-name {
	margin-left: 10px;
	margin-right: 10px;
}