<div class="container">
	<div class="chat-box">
		<div class="input">
			<mat-form-field appearance="fill">
				<mat-label>Username</mat-label>
				<input matInput [(ngModel)]="username">
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Message</mat-label>
				<input matInput [(ngModel)]="message" (keyup.enter)="sendMessage()">
			</mat-form-field>
			<button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
		</div>
		<div class="messages">
			<div *ngFor="let message of messages">
				<p>{{ message.from }}: {{message.content}} </p>
				<!-- <p>{{ message.username }}: {{ message.content }}</p> -->
			</div>
		</div>
	</div>
</div>