<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span class="nav-item">
			<a mat-button routerLink="/" routerLinkActive="active">Home</a>
		</span>
		<span class="nav-item">
			<a mat-button routerLink="/chat" routerLinkActive="active">Chat</a>
		</span>
		<span class="nav-item">
			<a mat-button [routerLink]="['/authentication']" [queryParams]="{mode: 'login'}"
				routerLinkActive="active">Login</a>
		</span>
		<span class="nav-item">
			<a mat-button [routerLink]="['/authentication']" [queryParams]="{mode: 'register'}"
				routerLinkActive="active">Register</a>
		</span>
	</mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>