.plant-card {
	max-width: 250px;
	min-width: 250px;
	/* height: auto; */
	max-height: 250px;
	min-height: 250px;
	margin: 10px;
}

mat-card img {
	object-fit: cover;
	/*this makes the image in src fit to the size specified below*/
	width: 100%;
	/* Here you can use wherever you want to specify the width and also the height of the <img>*/
	height: 80%;
}

mat-card-actions button {
	margin-right: 10px;
}

.water-times {
	display: flex;
	justify-content: space-between;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.lock-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: #ccc;
}