<!-- <mat-card *ngIf="plant != null" class="plant-card"> -->
<mat-card *ngIf="plant != null" [class.plant-mine]="plant.email==email" [class.plant-theirs]="plant.email != email">
	<mat-card-header>
		<div mat-card-avatar class="plant-header-image"></div>
		<mat-card-title>{{plant.name}}</mat-card-title>
		<mat-card-subtitle>by {{plant.username}}</mat-card-subtitle>
		<mat-card-subtitle>Water every {{plant.wateringFrequency}} days</mat-card-subtitle>
		<mat-icon *ngIf="!plant.isPublic" class="lock-icon">lock</mat-icon>
		<mat-icon *ngIf="plant.isPublic" class="lock-icon">lock_open</mat-icon>
	</mat-card-header>
	<img *ngIf="isImageLoading" mat-card-image [src]="'/assets/loading.gif'" alt="Photo">
	<img *ngIf="!isImageLoading && imageUrl != null" mat-card-image [src]="imageUrl" alt="Photo">
	<img *ngIf="!isImageLoading && imageUrl == null" [src]="'/assets/placeholder.jpg'" alt="Image">
	<mat-card-content>
		<div class="water-times">

			<span class="left">

				<mat-card-subtitle>Last watered on
					{{transformLastWaterDate()}}</mat-card-subtitle>
			</span>
			<span class="right">

				<mat-card-subtitle [style.color]="backgroundColor">Next watering on
					{{getNextWaterDate()}}</mat-card-subtitle>
			</span>
		</div>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button mat-raised-button color="warn" (click)="deletePlant()">Delete</button>
		<button mat-raised-button (click)="waterPlant()" color="primary">Water</button>
		<button mat-raised-button (click)="editPlant()" color="primary">Edit</button>
	</mat-card-actions>
</mat-card>