<div *ngIf="editMode && plant; else displayMode" class="example-container">
	<mat-form-field hintLabel="Max 30 characters" appearance="fill">
		<mat-label>Plant Name:</mat-label>
		<input matInput [(ngModel)]="plant.name" #input maxlength="30" placeholder="Blue Juniper">
		<mat-hint align="end">{{input.value.length}}/10</mat-hint>
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Watering Frequency</mat-label>
		<mat-select [(ngModel)]="plant.wateringFrequency">
			<mat-option value=1>1 day</mat-option>
			<mat-option value=2>2 days</mat-option>
			<mat-option value=3>3 days</mat-option>
			<mat-option value=4>4 days</mat-option>
			<mat-option value=5>5 days</mat-option>
		</mat-select>
		<mat-hint align="end">How frequently should you water this plant</mat-hint>
	</mat-form-field>
	<button mat-button (click)="save()">Save</button>
	<button mat-button (click)="cancel()">Cancel</button>
</div>

<ng-template #displayMode>
	<mat-card *ngIf="plant != null" class="example-card">
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>{{plant.name}}</mat-card-title>
			<mat-card-subtitle>Water every {{plant.wateringFrequency}} days</mat-card-subtitle>
		</mat-card-header>
		<!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
		<img *ngIf="imageUrl != null" mat-card-image [src]="imageUrl" alt="Photo">
		<mat-card-content>
			<p>
				Some text here
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-icon-button (click)="editPlant()">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button (click)="deletePlant()">
				<mat-icon>delete</mat-icon>
			</button>
		</mat-card-actions>
	</mat-card>

</ng-template>