.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

mat-form-field,
button {
	margin-top: 8px;
}