<div class="container">
	<div *ngIf="isLoading">Loading plants - hang tight...</div>
	<div *ngIf="!isLoading">
		<div class="button-controls">

			<div *ngIf="!isInEditOrAddMode()">
				<mat-button-toggle-group #group="matButtonToggleGroup">
					<mat-button-toggle value="uncondensed" [checked]="!condensedView"
						(change)="viewModeChanged(false)">
						<mat-icon>unfold_more</mat-icon>
					</mat-button-toggle>
					<mat-button-toggle value="condensed" [checked]="condensedView"
						(change)="viewModeChanged(true)">
						<mat-icon>unfold_less</mat-icon>
					</mat-button-toggle>
				</mat-button-toggle-group>
				<mat-button-toggle-group name="filters" aria-label="Filters" multiple>
					<mat-button-toggle value="needsCare" [checked]="filters.get('needsCare')"
						(change)="filterChange('needsCare')">Needs
						Care</mat-button-toggle>
					<mat-button-toggle value="mineOnly" [checked]="filters.get('onlyMyPlants')"
						(change)="filterChange('onlyMyPlants')">Only My
						Plants</mat-button-toggle>
				</mat-button-toggle-group>
				<mat-form-field>
					<mat-label>Tags</mat-label>
					<mat-select (selectionChange)="addFilterTag($event.value)">
						<mat-option *ngFor="let tag of tags" [value]="tag">{{tag}}</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-chip-listbox>
					<mat-chip-option *ngFor="let tag of filterTags" [removable]="true"
						(removed)="removeFilterTag(tag)">
						{{tag}}
						<mat-icon matChipRemove>cancel</mat-icon>
					</mat-chip-option>
				</mat-chip-listbox>
			</div>

			<button mat-button mat-raised-button color="primary" *ngIf="!isInEditOrAddMode()"
				(click)="switchToAddPlantMode()">Add
				Plant</button>
		</div>
		<div class="button-controls" *ngIf="isInEditOrAddMode()">
			<div class="button-group-top">
				<button mat-button mat-raised-button color="warn" *ngIf="isInEditOrAddMode()"
					(click)="cancelAddMode(); $event.preventDefault()">Cancel</button>
			</div>

			<form (ngSubmit)="addPlant()" [formGroup]="form" *ngIf="form">
				<mat-form-field hintLabel="Max 30 characters" appearance="fill">
					<mat-label>Plant Name</mat-label>
					<input matInput formControlName="name" #input maxlength="30">
					<mat-hint align="end">{{input.value.length}}/30</mat-hint>
				</mat-form-field>
				<mat-form-field hintLabel="Max 30 characters" appearance="fill">
					<mat-label>Tag</mat-label>
					<input matInput formControlName="tag" name="tag" [matAutocomplete]="auto">
					<mat-autocomplete #auto="matAutocomplete">
						<mat-option *ngFor="let tag of tags" [value]="tag">{{tag}}</mat-option>
					</mat-autocomplete>
				</mat-form-field>



				<mat-form-field appearance="fill">
					<mat-label>Watering Frequency</mat-label>
					<mat-select formControlName="wateringFrequency">
						<mat-option *ngFor="let option of wateringFrequencyOptions"
							[value]="option">
							{{ option }} day{{ option !== 1 ? 's' : '' }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Fertilizing Frequency</mat-label>
					<mat-select formControlName="fertilizingFrequency">
						<mat-option *ngFor="let option of fertilizingFrequencyOptions"
							[value]="option">
							{{ option }} day{{ option === 0 ? ' (never)' : option !== 1 ?
							's' : '' }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Last Watered Date</mat-label>
					<input matInput [formControl]="editingPlantLastWaterDate"
						[matDatepicker]="pickerWater">
					<mat-hint>MM/DD/YYYY</mat-hint>
					<mat-datepicker-toggle matIconSuffix
						[for]="pickerWater"></mat-datepicker-toggle>
					<mat-datepicker #pickerWater></mat-datepicker>
				</mat-form-field>
				<mat-form-field
					*ngIf="form.controls.fertilizingFrequency.value && form.controls.fertilizingFrequency.value>0"
					appearance="fill">
					<mat-label>Last Fertilize Date</mat-label>
					<input matInput [formControl]="editingPlantLastFertilizeDate"
						[matDatepicker]="pickerFertilize">
					<mat-hint>MM/DD/YYYY</mat-hint>
					<mat-datepicker-toggle matIconSuffix
						[for]="pickerFertilize"></mat-datepicker-toggle>
					<mat-datepicker #pickerFertilize></mat-datepicker>
				</mat-form-field>

				<mat-checkbox formControlName="doNotify" class="example-margin">Email
					Notifications</mat-checkbox>
				<mat-radio-group formControlName="publicOrPrivate">
					<mat-radio-button value="public">Public</mat-radio-button>
					<mat-radio-button value="private">Private</mat-radio-button>
				</mat-radio-group>
				<button type="button" mat-raised-button (click)="fileInput.click()">Plant
					Picture</button>
				<input hidden (change)="onImageSelected($event)" #fileInput type="file" id="file">
				<img id="preview" [src]="selectedImagePreview_safe" />
				<div class="button-group" *ngIf="!isProcessingAddOrUpdate">
					<button *ngIf="editingPlant" mat-button mat-raised-button color="primary"
						type="submit">Update</button>
					<button *ngIf="!editingPlant" mat-button mat-raised-button color="primary"
						type="submit">Add</button>
				</div>
				<mat-spinner *ngIf="isProcessingAddOrUpdate"></mat-spinner>

			</form>
		</div>
	</div>
</div>

<ng-container *ngIf="(plantsService.plants | async) as plantList">
	<div class="plants" *ngIf="!isInEditOrAddMode()">
		<div *ngFor="let plant of plantList">
			<div *ngIf="(!filters.get('onlyMyPlants') || plant.email == authenticationService.email()) && (!filters.get('needsCare') ||
				needsCaring(plant)) && tagMatchesFilter(plant.tag)">
				<app-plant [isCondensed]="condensedView"
					(editModeEmitter)="switchToditPlantMode($event)" [plant]="plant"></app-plant>
			</div>
		</div>
	</div>
</ng-container>